type camera_sysfs, fs_type, sysfs_type;
type ion_debugfs, fs_type, debugfs_type;
type surfaceflinger_sysfs, fs_type, sysfs_type;
type vibeamp_sysfs, fs_type, sysfs_type;
type ps_kadc_sysfs, fs_type, sysfs_type;
type l2m_2_phase_sysfs, fs_type, sysfs_type;
type home2wake_sysfs, fs_type, sysfs_type;
type sweep2wake_sysfs, fs_type, sysfs_type;
type logo2menu_sysfs, fs_type, sysfs_type;
